@import 'variables_overrides';

@import '../node_modules//bootstrap/scss/bootstrap.scss';

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer__logos img {
    height: 2.3em;
}

li {
    list-style: none;
}

.ressource__icon,
.ressource__icon > img {
    width: 2.5em;
    height: 2.5em;
}
