@import '../node_modules//bootstrap/scss/bootstrap.scss';

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

.ressource__icon,
.ressource__icon > img {
    width: 4em;
    height: 4em;
}

